body {
  background-color: #91AB00;
}

header {
  background-color: #6B0321;
}

th.name {
  width: 20%;
}

.game {
  background-color: white;
}

.chat {
  /* position: absolute; */
  background-color: white;
}

.chat>.list {
  min-height: 200px;
}
